<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @subjects.blank? %>
      <p>There are not any subjects currently in the system.</p>
      <% else %>

    <ul id = "subjects">
      <% @subjects.each do |a| %>
      <li><%= link_to a.name, {:action => 'show', :id => a.id} -%></li>
      <% end %>
    </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>