<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @users.blank? %>
      <p>There are not any users currently in the system.</p>
      <% else %>

    <ul id = "users">
      <% @users.each do |a| %>
      <li><%= image_tag("images.png", width: 60)  %> 
        <%= link_to a.name, {:action => 'show', :id => a.id} -%></li>
      <% end %>
    </ul>
    <% end %>
  </tbody>
</table>
