<!-- <div class="center-info"> -->
<div class="content">
    <h1 class="content_heading">Welcome to Kalmyk Project</h1>
    <p class="content_teaser">The Kalmyk people are western Mongols living in their own federated state within Russia.  Their state, called Kalmykia, has the only Buddhist theocratic government in all of Europe.</p><!-- 
    <p class="content_teaser">The Kalmyks were originally part of the Oirat confederation, which formed in the 15th century on the western edge of Mongol lands.  In the 17th century, after the Oirat confederation had dissolved, the ancestors of the Kalmyks formed a second major Oirat state, the Dzungar Empire.</p> -->
</div>