<p id="notice"><%= notice %></p>

<h2>Comments</h2>
    <% if @comments.blank? %>
    <p>There are no comments currently.</p>
    <% else %>
    <ol>
    <% @comments.each do |comment| %>
        <li><%= comment.content %></li>
    <% end %>
    </ol>
    <br>
    <% end %>

<%= link_to 'New Comment', new_article_comment_path(@article, @article.comments.build) %>
