<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @articles.blank? %>
      <p>There are not any articles currently in the system.</p>
      <% else %>

    <ul id = "articles">
      <% @articles.each do |a| %>
      <li><%= link_to a.title, {:action => 'show', :id => a.id} -%></li>
      <% end %>
    </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
     



